HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# >>> +VIDA HIGIENE ARTEFACTOS >>>
# Backups de trabajo
**/BACKUP_*/
*.bak
*.bak_*
*.bak.*
*.backup
*.backup_*
*.old
*.old_*
*.orig
*.orig_*
*~

# Logs y salidas temporales generadas en la raiz
/*.out.txt
/*.err.txt
/*.txt.out
/*.txt.err
/*.out
/*.err

# Reportes temporales generados durante auditorias/pruebas
/AUDITORIA_*.txt
/RESULTADO_*.txt
/VERIFICACION_*.txt
/DIAGNOSTICO_*.txt
/CIERRE_BLOQUE_*.txt
/CORRECCION_*.txt
/REVISION_*.txt
# <<< +VIDA HIGIENE ARTEFACTOS <<<
